<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.ringrush.game" android:versionCode="4" android:versionName="1.2.0">
    <uses-sdk android:minSdkVersion="28" android:targetSdkVersion="36" />
    <uses-feature android:glEsVersion="0x00030000" android:required="true" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application android:label="Sonic Ring Rush" android:icon="@mipmap/ic_launcher" android:theme="@style/GameTheme" android:hardwareAccelerated="true" android:allowBackup="false" android:usesCleartextTraffic="false" android:supportsRtl="true" android:debuggable="false">
        <activity android:name=".GameActivity" android:exported="true" android:resizeableActivity="true" android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout|keyboardHidden|keyboard|navigation|uiMode|density|fontScale|touchscreen|colorMode" android:enableOnBackInvokedCallback="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
